.hh{
  background-color: rgb(28, 74, 74);
}
.box {
  background-color: rgb(211, 224, 226);
  display: flex;
  flex-wrap: wrap;

}

.box-2 {
  width: 300px;
  height: 450px;
  text-align: center;
  margin: 70px;
  border: solid 3px red;
  border-radius: 20px;

}

img {
  border: solid 3px red;
  border-radius: 20px;
}

h1 {
  font-size: 80px;
  background-color: rgb(0, 255, 81);
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

marquee {
  font-size: 30px;
  background-color:  rgb(125, 226, 43);
}

button {
  width: 150px;
  height: 30px;
  background-color: aqua;
}
.App-header {
  background-color: #282c34;}